body {
	margin: 60px 0;
}
#page {
	margin: 0 auto;
	width: 620px;
}
#page .row {
	margin: 40px 0;
}
#examples .state {
	color: #777;
	margin-top: -10px;
	text-align: center;
}
#examples .panel-body {
	height: 121px;
	overflow-y: scroll;
	padding: 10px 15px;
}
#download {
	text-align: center;
}
#download .version {
	color: #bbb;
	margin-top: 10px;
}
#github {
	display: none;
	text-align: center;
}
#github p {
	margin-top: 5px;
}
